
$interface-black: #000000;
$interface-dark-black: #121212;
$interface-brown: #151515;
$interface-dark-brown: #313131;
$interface-light-black: #333333;
$interface-white: #ffffff;
// $interface-light-black: #3E3E3E;
$interface-red: #E82B2C;
$interface-blue: #131126;
$interface-blueDark:#08082E;
$interface-darkblue: #2D2F8F;
$interface-grey: #666666;
$interface-dark-dark-grey: #999999;
$interface-light-light-grey: #B3B3B3;
$interface-light-grey: #CCCCCC;
$interface-dark-grey: #F6F6F6;
$interface-orange: #EC8922;
$interface-yellow: #FFCB05;
$interface-border: #E6E6E6;
$error: #E72E2D; 

