.detail-main {
    .custom-heading {
        @extend %o-header--h2;
        color: $interface-black;
        font-weight: weight(extrabold);
    }

    p {
        @extend %o-body-medium;
        color: $interface-light-black;
        padding-top: 2rem;
        padding-bottom: 2rem;
        max-width: 140rem;
    }

    ul {
        li {
            font-size: 2.4rem;
            line-height: 3.8rem;
            padding-top: 2.5rem;
            position: relative;
            padding-left: 2.8rem;

            &:after {
                content: "";
                background-color: $interface-grey;
                width: 0.8rem;
                height: 0.8rem;
                border-radius: 100%;
                position: absolute;
                left: 0;
                top: 4rem;
            }
        }
    }

}

.challenge-content {
    padding-top: 7rem;
}

.key-value-driver-content {
    background-color: $interface-light-black;
    padding: 10rem 0;
    margin-top: 20rem;

    .custom-heading {
        color: $interface-white;
        padding-left: 15rem;
        padding-right: 15rem;
    }

    .key-value-block-main {
        padding-top: 10rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .key-value-block {
            width: 27.8%;

            .o-header--h4 {
                color: $interface-white;
                font-weight: weight(bold);
            }

            p {
                color: $interface-white;
                padding-top: 3rem;
                font-size: 2.4rem;
                line-height: 3.8rem;
            }
        }
    }
}

.key-facts-content {
    .custom-heading {
        padding: 0 15rem;
    }

    .key-facts-inside {
        padding-top: 6rem;
        display: flex;
        flex-wrap: wrap;

        .key-facts-block {
            width: 20%;
            padding: 6rem 5rem;
            height: 50rem;

            &:first-child {
                background-color: #2D2F8F;
            }

            &:nth-child(2) {
                background-color: #42449B;
            }

            &:nth-child(3) {
                background-color: #5759A5;
            }

            &:nth-child(4) {
                background-color: #6C6EB1;
            }

            &:nth-child(5) {
                background-color: #8182BC;
            }

            .o-header--h5 {
                color: $interface-white;
                padding-top: 3rem;
                font-weight: weight(bold);
            }

            p {
                font-size: 2.4rem;
                line-height: 3.8rem;
                color: $interface-white;
            }
        }
    }
}

@include media-up(tablet) {
    .blog-mobile-img {
        display: none;
    }
}

@include media-down(mobile) {
    .blog-desktop-img {
        display: none;
    }
}

// rover table of content start
.blogdetail-wrap {
    >.container {
        @include media-down(tablet-large) {
            padding: 0;
        }
    }
}

.blogdetail-row {
    // @extend %pb-80;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    z-index: 1;

    @include media-down(tablet-large) {
        display: block;
    }

    .blogdetail-sidebar {
        width: 23.5%;
        overflow: auto;
        position: sticky;
        top: 0;

        @include media-down(desktop-large) {
            top: 0;
        }

        @include media-down(desktop) {
            width: 28%;
            top: 3rem;
        }

        @include media-down(laptop) {
            top: 4.5rem;
        }

        @include media-down(tablet-large) {
            width: 100%;
            top: 5.2rem;
            z-index: 4;
            position: static;
        }

        @include media-down(tablet) {
            top: 4.2rem;
        }

        @include media-down(mobile) {
            top: 5.6rem;
        }

        .ez-toc-widget-container {
            @extend %pt-80;

            @include media-down(mobile) {
                padding-top: 0 !important;
            }

            .widget-title {
                background: #F6F6F6;
                padding: 2rem 4rem 0.5rem;

                .ez-toc-title-container {
                    display: block;

                    .ez-toc-title-toggle {
                        display: flex;
                    }

                    .ez-toc-title {
                        font-size: size(paragraph, small) !important;
                        line-height: lineheight(paragraph, small);
                        font-weight: 600 !important;
                        color: $interface-black !important;
                        display: block;

                        @include media-down(tablet-large) {
                            color: $interface-white !important;
                            font-weight: 700 !important;
                        }
                    }

                    .ez-toc-btn {
                        margin-left: auto;
                        width: 2.4rem;
                        height: 2.4rem;
                        padding: 0;
                        background: transparent;
                        display: none;

                        @include media-down(tablet-large) {
                            display: block;
                        }

                        >span {
                            width: 100%;
                            height: 100%;
                            display: block;
                            background: url("../images/down-arrow.svg") no-repeat center center;
                            background-size: auto;
                            transform: rotate(180deg);
                            transition: all 0.3s ease;
                        }

                        svg {
                            display: none;
                        }
                    }
                }

                @include media-down(tablet-large) {
                    background: #151515;
                    padding: 1rem 2rem;
                    display: block;
                }
            }

            .ez-toc-list {
                background: $interface-dark-grey;
                padding: 2rem 2rem 2rem 4rem !important;
                position: relative;
                display: block !important;
                transform: none !important;
                width: 100% !important;
                opacity: 1 !important;
                visibility: visible !important;
                height: auto !important;

                &::before {
                    content: "";
                    width: 0.2rem;
                    position: absolute;
                    left: 2rem;
                    top: 2rem;
                    background: $interface-light-grey;
                    bottom: 2rem;

                    @include media-down(tablet-large) {
                        left: 1.5rem;
                    }
                }

                @include media-down(tablet-large) {
                    display: none !important;
                    padding: 1.5rem 1.5rem 1.5rem 3.5rem !important;
                }

                >li {
                    background: transparent !important;
                    border-bottom: 1px solid $interface-border;
                    position: relative;
                    overflow: visible !important;

                    &.completed {
                        &::before {
                            background: $interface-black;
                        }

                        &::after {
                            opacity: 0;
                        }
                    }

                    &.active {
                        &::before {
                            background: $interface-black;
                            height: calc(102% - 51%);
                        }

                        &::after {
                            opacity: 1;
                        }
                    }

                    &:before {
                        content: "";
                        width: 0.2rem;
                        height: calc(100% + 1px);
                        position: absolute;
                        left: -2rem;
                        top: 0;
                        background: $interface-light-grey;
                    }

                    &:after {
                        content: "";
                        width: 1rem;
                        height: 1rem;
                        border-radius: 100%;
                        position: absolute;
                        left: -2.4rem;
                        top: 50%;
                        transform: translateY(-50%);
                        background: $interface-black;
                        opacity: 0;
                    }

                    >a {
                        font-family: family(dm-sans);
                        font-size: 1.6rem !important;
                        line-height: 2.4rem;
                        color: #4D4D4D !important;
                        font-weight: 500;
                        padding: 1.5rem 0;
                        display: block;

                        @include media-down(desktop-large) {
                            line-height: 2rem;
                            padding: 1rem 0;
                        }

                        @include media-down(mobile) {
                            font-size: 1.5rem !important;
                        }

                        &:before {
                            display: none;
                        }
                    }

                    // &:first-child {
                    //     >a {
                    //         padding-top: 0;
                    //     }
                    // }

                    ul {
                        padding-left: 3rem;
                        margin-left: 0;
                        display: none;

                        @include media-down(desktop) {
                            padding-left: 2rem;
                        }

                        li {
                            border-bottom: 1px solid $interface-border;

                            &:before {
                                display: none;
                            }

                            a {
                                // font-family: family(carlito);
                                @extend %o-paragraph-small;
                                // color: $interface-grey-500;
                                font-weight: 500;
                                padding: 1rem 0;
                                display: block;

                                @include media-down(desktop-large) {
                                    font-size: 1.4rem;
                                    line-height: 2rem;
                                    padding: 0.8rem 0;
                                }

                                &:before {
                                    display: none;
                                }
                            }

                            &.active {
                                background: transparent !important;

                                >a {
                                    color: $interface-black;
                                }
                            }

                            &:last-child {
                                border-bottom: none;
                            }
                        }
                    }

                    &.active {
                        ul {
                            display: block;
                        }

                        >a {
                            color: $interface-black !important;
                        }
                    }
                }
            }

            &.toc_close {
                .ez-toc-list {
                    display: block !important;
                }

                .widget-title .ez-toc-title-container .ez-toc-btn>span {
                    transform: rotate(0deg);
                }
            }
        }

    }

    .blogdetail-right {
        @extend %pt-80;
        width: 76.5%;
        padding-left: 5rem;

        .wpb-content-wrapper {
            h2 {
                color: $interface-black;
                @extend %o-body-medium;
                font-weight: weight(bold);
                font-family: "ObjectSansBold", sans-serif;
                margin-bottom: 2rem;
                margin-top: 3rem;

                @include media-down(desktop-large) {
                    margin-bottom: 1rem;
                    margin-top: 2rem;
                }

                span {
                    &:first-child {
                        padding-top: 3rem;
                        display: block;

                        @include media-down(desktop-large) {
                            padding-top: 2rem;
                        }

                        @include media-down(desktop) {
                            padding-top: 1rem;
                        }

                        @include media-down(laptop-large) {
                            padding-top: 0.5rem;
                        }

                        @include media-down(tablet) {
                            padding-top: 2rem;
                        }
                    }
                }

                @include media-down(desktop-large) {
                    font-size: 2.4rem;
                    line-height: 3.2rem;
                    // margin-top: 5rem;
                }

                @include media-down(desktop) {
                    font-size: 2rem;
                    line-height: 3rem;
                    // margin-top: 4rem;
                }

                @include media-down(laptop-large) {
                    // margin-top: 3.5rem;
                }

                @include media-down(laptop) {
                    // margin-top: 3rem;
                    margin-bottom: 1.5rem;
                }

                @include media-down(tablet-large) {
                    font-size: 2rem;
                    line-height: 3rem;
                }

                @include media-down(tablet) {
                    // margin-top: 3rem;
                    margin-top: 0rem;
                    margin-bottom: 1rem;

                }

                @include media-down(mobile) {
                    font-size: 1.8rem;
                    line-height: 2.4rem;
                    // margin-top: 2.5rem;
                }
            }
        }

        // .common-para>*,
        // .common-listing>* {
        //     text-align: justify;
        // }

        @include media-down(desktop-large) {
            padding-left: 3rem;
        }

        @include media-down(desktop) {
            width: 72%;
        }

        @include media-down(tablet-large) {
            width: 100%;
            padding-left: 0
        }

    }
}

.share-tags-wrap {
    margin-top: 3rem;
    width: 100%;

    .share-block {
        .social-share-links {
            margin-top: 0;
        }
    }

    .tag-section {
        padding-top: 3rem !important;

        @include media-down(mobile) {
            padding-top: 2rem !important;
        }

        .tag-listing {
            margin: 0;

            .tag-block {
                padding: 0;
                margin-right: 2rem;
                margin-bottom: 2rem;

                a {
                    &:hover {
                        p {
                            background-color: #F6F6F6;
                        }
                    }
                }

                p {
                    @include media-down(desktop-large) {
                        padding: 0.5rem 0.7rem;
                        font-size: 1.4rem;
                    }
                }

                @include media-down(desktop-large) {
                    margin-right: 1.5rem;
                    margin-bottom: 1.5rem;
                }

                @include media-down(desktop) {
                    margin-right: 1rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }

    @include media-down(tablet-large) {
        margin-top: 2rem;
    }

    &.desktop {
        @include media-down(tablet-large) {
            display: none;
        }
    }

    &.mobile {
        display: none;

        @include media-down(tablet-large) {
            display: block;
        }
    }
}

.author-blog-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid #D9D9D9;
    padding-top: 3.5rem;
    margin-top: 3.5rem;

    @include media-down(desktop) {
        padding-top: 3rem;
        margin-top: 1.5rem;
    }

    .author-info {
        margin-top: 0;
        color: $interface-black;
        position: relative;
        padding-left: 5rem;

        @include media-down(mobile) {
            width: 100%;
        }

        .author-name {
            @include media-down(mobile) {
                font-size: 1.6rem;
            }
        }

        .author-designation {
            @include media-down(mobile) {
                font-size: 1.4rem;
            }
        }

        &::after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            background-image: url(../images/blog-end-rysun-logo.png);
            background-repeat: no-repeat;
            width: 3.4rem;
            height: 4.5rem;
        }
    }

    // .blog-banner-date {
    //     align-items: center;

    //     .blog-category {
    //         font-size: 1.6rem;
    //         font-weight: 400;
    //         font-family: family(primary);
    //     }

    //     .post-date {
    //         font-size: 1.6rem;
    //         font-weight: 400;
    //         font-family: family(primary);
    //         color: #4D4D4D;
    //         padding-left: 1rem;
    //     }
    // }

    .social-share-links {
        margin-top: 0;
        padding: 1.8rem 2rem;

        @include media-down(desktop-large) {
            padding: 1rem 2rem;
        }

        @include media-down(tablet-large) {
            padding: 1rem 1.5rem;
        }

        a {
            &:last-child {
                i {
                    padding-right: 0;
                }
            }
        }

        p {
            padding-right: 1rem;
            color: $interface-black;
        }
    }
}

.roverxchange-section {
    &.blog-detail-section {
        .related-blog-title {
            padding-top: 9rem;

            @include media-down(desktop) {
                padding-top: 6rem;
            }

            @include media-down(tablet-large) {
                padding-top: 5rem;
            }

            @include media-down(mobile) {
                padding-top: 3rem;
            }
        }
    }

    .wayof-life-half-section {
        >.vc_column-inner {
            &::before {
                width: 100%;
            }
        }
    }
}

.blogdetail-right {

    .common-para,
    .common-listing {
        a {
            color: $interface-darkblue !important;
        }
    }

    .o-button3 {
        a {
            color: $interface-white !important;
        }
    }
}

.blog-space-minus {
    margin-top: -3rem;

    @include media-down(desktop) {
        margin-top: -1.5rem;
    }
}

// rover table of content end