.contact-location {
    padding-top: 15rem;

    @include media-down(desktop-large) {
        padding-top: 10rem;
    }

    @include media-down(desktop) {
        padding-top: 8rem;
    }

    @include media-down(laptop-large) {
        padding-top: 6rem;
    }

    @include media-down(tablet-large) {
        padding-top: 5rem;
        padding-bottom: 0;
    }

    @include media-down(tablet) {
        padding-top: 9rem;
    }

    @include media-down(mobile) {
        padding-bottom: 0;
    }

    .o-header--h4 {
        padding-top: 8rem;

        @include media-down(desktop-large) {
            padding-top: 5rem;
        }

        @include media-down(desktop) {
            padding-top: 1rem;
        }

        // @include media-down(laptop) {
        //     padding-top: 2rem;
        // }
    }

    .contact-block-btm-section {
        padding-top: 17rem;

        @include media-down(desktop-large) {
            padding-top: 10rem;
        }

        @include media-down(desktop) {
            padding-top: 10rem;
        }

        @include media-down(laptop) {
            padding-top: 11rem;
        }

        @include media-down(tablet-large) {
            padding-top: 9rem;
        }

        @include media-down(mobile) {
            padding-top: 8rem;
        }
    }
}

.contact-main {
    position: relative;

    .o-header--h4 {
        padding-top: 3rem;
        padding-bottom: 8rem;

        p {
            max-width: 95.7rem;
        }
    }

    &:after {
        content: "";
        background-image: url(../images/bg-outer-img.webp);
        background-repeat: no-repeat;
        width: 34.6rem;
        height: 46.8rem;
        position: absolute;
        left: 0;
        top: 13rem;
        z-index: zindex(float);

        @include media-down(desktop-large) {
            top: 7rem;
        }

        @include media-down(tablet-large) {
            width: 25.6rem;
            height: 25.8rem;
            background-size: 100%;
            top: 3rem;
        }
    }
}

.contact-bg-img {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background: linear-gradient(0deg, #000000 0%, #000000 46.57%, rgba(0, 0, 0, 0.33) 88.71%);
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        opacity: 0.8;
        display: block;
    }

}

.wpcf7 form {
    &.invalid {
        .wpcf7-response-output {
            border-color: $interface-orange;
            color: $interface-orange;
            font-size: 1.4rem;
            line-height: 2rem;
            padding: 5px 20px;
        }
    }

    &.sent {
        .wpcf7-response-output {
            border-color: $interface-yellow;
            color: $interface-yellow;
            font-size: 1.4rem;
            line-height: 2rem;
            padding: 5px 20px;
        }
    }
}

.contact-block {
    position: relative;
    padding-top: 10rem;

    @include media-down(tablet-large) {
        padding-top: 9rem;
    }

    @include media-down(tablet) {
        width: 50% !important;
    }

    @include media-down(mobile) {
        padding-top: 2rem;
        width: 100% !important;
    }

    &.contact-block-small {
        @include media-down(tablet) {
            padding-top: 2.5rem;
        }
    }

    &:first-child,
    &.contact-block-right {
        @include media-down(mobile) {
            padding-top: 7rem;
        }
    }

    &.contact-block-right {
        // @include media-down(tablet) {
        //     margin-top: 7rem;
        // }

        @include media-down(mobile) {
            margin-top: 3rem;
            margin-bottom: 5rem;
        }
    }

    .o-header--h2 {
        position: absolute;
        top: 0;
        font-weight: weight(bold);
        color: $interface-black;
        font-family: family(secondary);

        a {
            @extend %o-header--h4;
            color: $interface-darkblue;
            padding-top: 1rem;
            transition: all 0.5s ease-in-out;
            display: block;
            width: 100%;

            @include media-down(desktop) {
                padding-top: 0.8rem;
            }

            @include media-down(mobile) {
                padding-top: 0.5rem;
            }

            &:hover {
                color: $interface-orange;
            }
        }

        @include media-down(tablet-large) {
            font-size: 2.4rem;
        }

        @include media-down(mobile) {
            font-size: 2rem;
        }
    }

    .o-header--h4 {
        color: $interface-light-black;
        font-weight: weight(bold);
        font-family: family(secondary);

        a {
            color: $interface-light-black;

            &:hover {
                color: $interface-darkblue;
            }
        }

        i {
            font-size: 2rem;
            color: $interface-darkblue;
            padding-left: 1.5rem;

            @include media-down(mobile) {
                font-size: 1.5rem;
                padding-left: 0.5rem;
            }
        }
    }

    .o-paragraph-medium {
        color: $interface-light-black;
        padding-top: 1.5rem;
        line-height: 3rem;
        padding-right: 4rem;


        @include media-down(desktop) {
            padding-right: 3.5rem;
        }

        @include media-down(tablet) {
            font-size: 1.6rem;
            line-height: 2.8rem;
            padding-top: 0.5rem;
        }
    }

    .contact-link-tel {
        a {
            color: $interface-red;
            padding-top: 2rem;
            display: block;
        }

    }

    .contact-link-mail {
        a {
            color: $interface-red;
            display: block;
        }
    }

}

.contact-form-main-section {
    position: relative;
    max-height: 62rem;
    margin-top: 35rem;

    .o-header--h5 {
        @extend %o-header--h6;
        position: absolute;
        bottom: 8rem;
        max-width: 96rem;
        padding-left: 15rem;
        color: $interface-white;
    }

}

.contact-form {

    p {
        &.contact-link {
            @extend %o-paragraph-small;
            color: $interface-dark-dark-grey;
            font-weight: weight(regular);
            margin-bottom: 2.5rem;

            a {
                color: $interface-yellow;
                text-decoration: underline;
                text-underline-offset: 0.5rem;
            }
        }

        @include media-down(desktop-large) {
            font-size: 2.8rem;
            line-height: 4rem;
        }

        @include media-down(laptop) {
            font-size: 2.4rem;
            line-height: 3.2rem;
        }

        @include media-down(tablet-large) {
            font-size: 2.2rem;
            line-height: 3rem;
        }

        @include media-down(mobile) {
            font-size: 1.8rem;
            line-height: 2.4rem;
        }
    }

    .o-body-large {
        max-width: 58.4rem;
        color: $interface-black;
        font-weight: weight(semibold);
    }

    br {
        display: none;
    }

    .form {
        width: 100%;
        padding-top: 5rem;
        max-width: 480px;

        @include media-down(laptop-large) {
            padding-top: 3rem;
        }

        input,
        select,
        textarea {
            color: $interface-white;
            @extend %o-paragraph-small;
            border: 0;
            border-bottom: 1px solid $interface-grey;
            border-radius: 0;
            padding: 0.7rem 0 0.8rem;
            margin-top: 0;
            background-color: transparent;
            appearance: none;

            &::-webkit-input-placeholder {
                color: $interface-dark-dark-grey;
                opacity: 1;
            }

            &:-moz-placeholder,
            &::-moz-placeholder {
                color: $interface-dark-dark-grey;
                opacity: 1;
            }

            &:-ms-input-placeholder,
            &::-ms-input-placeholder {
                color: $interface-dark-dark-grey;
                opacity: 1;
            }

            &::placeholder {
                color: $interface-dark-dark-grey;
                opacity: 1;
            }

            &:focus {
                border-bottom-color: $interface-border;
            }
        }

        label.error {
            @extend %o-paragraph-small;
            font-size: 1.2rem;
            line-height: 1.6rem;
            color: $error;
            display: block;
            padding: 5px 0 0 0;
            position: absolute;
            width: 100%;
            display: contents;
            padding: 5px 0 0 0;
            // display: block;
            position: absolute;
            bottom: -28px;
        }

        textarea {
            height: 8.5rem;
        }

        .o-button {
            background-color: rgba(236, 37, 34, 0.15);
            border: 1px solid #EC8922;
            border-radius: 40px;
            padding: 1.2rem 4rem;
            font-weight: weight(bold);
            margin-top: 5rem;
        }

        .half-row {
            // display: flex;

            @include media-down(mobile) {
                flex-wrap: wrap;
            }

            p {
                margin-left: -1.5rem;
                margin-right: -1.5rem;
                display: flex;
                align-items: flex-start;

                span {
                    width: 50%;
                    padding: 0 1.5rem;

                    @include media-down(tablet) {
                        width: 100%;
                        padding: 0.5rem 1.5rem;
                    }

                    &.wpcf7-not-valid-tip {
                        width: 100%;
                        padding: 0.5rem 0 0 0;
                    }
                }

                @include media-down(mobile) {
                    flex-wrap: wrap;
                }

                // p {
                //     display: flex;
                //     margin: 0 -1.5rem;


                // }
            }

            &.half-btm-row {
                margin: 0 -1.5rem;
                display: flex;

                p {
                    margin-left: 0;
                    margin-right: 0;
                    padding: 0 1.5rem;

                    label {
                        padding: 0;
                    }
                }
            }
        }

        .contatc-no {

            p {
                display: flex;
                align-items: flex-start;
                margin-left: -1.5rem;
                margin-right: -1.5rem;

                select {
                    margin: 0 1.5rem;
                    width: 90px;
                    padding: 0.7rem 0 0.8rem;

                    @include media-down(mobile) {
                        padding: 0.9rem 0 0.9rem;
                    }
                }

                select * {
                    color: $interface-black;
                }

                span {
                    padding: 0 1.5rem;

                    &:first-child {
                        width: 18%;
                    }

                    &:last-child {
                        width: 82%;
                    }
                }
            }

            input {
                padding-left: 6rem;
            }

            #contact-no-error {
                display: block;
            }
        }


    }

    .o-button2 {
        padding: 1.5rem 6rem;
        cursor: pointer;
    }

    ~.wpcf7-response-output {
        background: linear-gradient(90deg, #2D2F8F 0%, #702E8E 100%);
        box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.13);
        color: $interface-white;
        border: none !important;
        padding: 13px !important;
        margin: 30px 0 0 !important;
        font-size: size(paragraph, small);
        font-family: family(dm-sans);
        line-height: lineheight(paragraph, small);
        font-weight: weight(bold);

        @include media-down(tablet) {
            padding: 8px !important;
            margin: 20px 0 0 !important;
        }
    }
}

.contact-form-section {
    padding-top: 10rem;
    z-index: zindex(nav);
    position: relative;

    @include media-down(desktop-large) {
        padding-top: 6rem;
    }

    @include media-down(desktop) {
        display: flex;
        // align-items: center;
    }

    @include media-down(tablet-large) {
        padding-top: 3rem;
    }

    @include media-down(tablet) {
        padding-top: 2rem;
    }

    .contact-form-left-section {
        @include media-down(tablet) {
            width: 100%;
        }

        h2 {
            font-size: 5rem;
            line-height: 7rem;
            color: $interface-black;
            font-weight: weight(bold);
            font-family: family(secondary);

            @include media-down(desktop) {
                font-size: 3.4rem;
                line-height: 5rem;
            }

            @media (max-width: 1366px) {
                font-size: 3.4rem;
                line-height: 5rem;
            }

            @include media-down(tablet-large) {
                font-size: 3rem;
                line-height: 4rem;
            }

            @include media-down(tablet) {
                font-size: 2.4rem;
                line-height: 3.4rem;
            }
        }

        p {
            font-size: 2.6rem;
            line-height: 4rem;
            padding-top: 7rem;
            font-family: family(dm-sans);
            font-weight: weight(medium);

            @include media-down(desktop) {
                font-size: 2.4rem;
                line-height: 3.4rem;
                color: $interface-black;
                font-weight: weight(medium);
                padding-top: 2.4rem;
            }

            @include media-down(desktop) {
                font-size: 1.8rem;
                line-height: 3rem;
            }

            @include media-down(mobile) {
                font-size: 1.6rem;
                line-height: 2.6rem;
                padding-top: 1.2rem;
            }
        }
    }


    .o-header--h2 {
        max-width: 69rem;

        @include media-down(desktop-large) {
            max-width: 67.2rem;
            font-size: 4rem;
            line-height: 5.5rem;

        }

        @include media-down(desktop) {
            max-width: 37.2rem;
            font-size: 3rem;
            line-height: 4.5rem;
        }

        @include media-down(tablet-large) {
            max-width: 36.2rem;
            font-size: 24px;
            line-height: 36px;
        }

        @include media-down(tablet) {
            max-width: 100%;
        }

        @include media-down(mobile) {
            max-width: 100%;
            padding-top: 1rem;
        }

        a {
            color: $interface-darkblue;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: $interface-orange;
            }
        }
    }

    .contact-form-right-section {
        padding-left: 19.9rem;

        @include media-down(desktop-large) {
            padding-left: 7.8rem;
        }

        @include media-down(desktop) {
            padding-left: 0;
        }

        @include media-down(tablet) {
            padding-top: 3rem;
            width: 100%;
        }
    }
}

.intl-tel-input {
    width: 100%;
}

.intl-tel-input.allow-dropdown .selected-flag,
.intl-tel-input.separate-dial-code .selected-flag {
    height: 50px;

    @include media-down(tablet) {
        height: 40px;
    }
}

.rysun-contact-title {
    @extend %o-body-small;
    color: $interface-black;
    font-weight: weight(bold);
    font-family: family(secondary);
    position: absolute;
    top: -25px;

    @include media-down(desktop) {
        top: -35px;
    }

    @include media-down(laptop) {
        font-size: 1.8rem;
        line-height: 2.8rem;
        top: -27px;
    }

    @include media-down(tablet-large) {
        font-size: 1.6rem;
        line-height: 2.6rem;
        top: -27px;
    }
}

.contact-field-top>p {
    width: 55%;

    @include media-down(desktop-large) {
        width: 58%;
    }

    @include media-down(desktop) {
        width: 50%;
    }

    @media (max-width: 1366px) {
        width: 53%;
    }

    @include media-down(laptop) {
        width: 56%;
    }

    @include media-down(tablet-large) {
        width: 65%;
    }

    @include media-down(tablet) {
        width: 50%;
    }

    @include media-down(mobile) {
        width: 100%;
    }
}

// contact us main new
.tablet-mobile-display {
    display: none;

    @include media-down(tablet) {
        display: block;
        padding-top: 6.3rem;
    }

    @include media-down(mobile) {
        padding-top: 5.6rem;
    }
}

.contact-breadcrumb {
    margin-top: 3.5rem;

    @include media-down(mobile) {
        margin-top: 3rem;
    }
}

.contact-location {
    @include media-down(tablet) {
        padding-top: 5rem;
    }
}

.contact-main-new {
    &.contact-main {
        background-position: center 7.4rem !important;

        @include media-down(tablet-large) {
            background-position: center 6.2rem !important;
        }

        @include media-down(tablet) {
            background-image: none !important;
        }

        @include media-down(mobile) {
            background-position: center 5.6rem !important;
        }

        &::after {
            display: none !important;
        }
    }

    .contact-form-section {
        padding-top: 0;

        .o-header--h2 {
            max-width: 100% !important;

            @include media-down(mobile) {
                padding-top: 0;
            }
        }

        .contact-form-left-section {
            padding-top: 21rem;
            max-width: 58rem;

            @include media-down(desktop-large) {
                padding-top: 19rem;
            }

            @include media-down(desktop) {
                padding-top: 16rem;
            }

            @include media-down(tablet) {
                padding-top: 4rem;
                max-width: 100%;
            }

            @include media-down(mobile) {
                padding-top: 3rem;
            }

            h1 {
                color: #FFFFFF;
                font-size: 5rem;
                line-height: 6.5rem;
                margin-bottom: 2.4rem;

                @include media-down(desktop) {
                    font-size: 4rem;
                    line-height: normal;
                    margin-bottom: 2rem;
                }

                @include media-down(tablet-large) {
                    font-size: 3rem;
                }

                @include media-down(tablet) {
                    font-size: 2.4rem;
                    margin-bottom: 1.5rem;
                }

                @include media-down(mobile) {
                    font-size: 2rem;
                }
            }

            h2 {
                font-family: family(dm-sans);
                font-weight: 500;
                color: #FFFFFF;
                font-size: 3rem;
                line-height: 4rem;
                margin-bottom: 8px;
                max-width: 100% !important;

                @include media-down(desktop) {
                    font-size: 2.4rem;
                }

                @include media-down(tablet-large) {
                    font-size: 2rem;
                    line-height: normal;
                }
            }

            p {
                font-family: family(dm-sans);
                font-weight: weight(regular);
                font-size: 1.8rem;
                color: #FFFFFF;
                line-height: 2.8rem;
                padding-top: 0;
                max-width: 100% !important;

                @include media-down(desktop) {
                    font-size: 1.6rem;
                }

                @include media-down(tablet) {
                    line-height: normal;
                }
            }
        }

        .contact-form-right-section {
            padding-left: 26rem;
            padding-top: 10rem;

            @include media-down(desktop-large) {
                padding-left: 20rem;
            }

            @include media-down(desktop) {
                padding-left: 8rem;
            }

            @include media-down(tablet-large) {
                padding-left: 7rem;
            }

            @include media-down(tablet) {
                padding-left: 0;
                padding-top: 5rem;
                padding-bottom: 5rem;
            }

            @include media-down(mobile) {
                padding-top: 3rem;
                padding-bottom: 3rem;
            }
        }

        .wpcf7-response-output {
            background: linear-gradient(90deg, #2D2F8F 0%, #702E8E 100%);
            box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.13);
            color: $interface-white;
            border: none !important;
            padding: 12px !important;
            margin: 20px 0 0 !important;
            font-size: size(paragraph, small);
            font-family: family(dm-sans);
            line-height: lineheight(paragraph, small);
            font-weight: weight(bold);

            @include media-down(tablet) {
                padding: 8px !important;
                margin: 20px 0 0 !important;
            }
        }
    }

    .contact-form.common-form {
        bottom: -7.5rem;
        max-width: 65rem;

        @include media-down(desktop-large) {
            bottom: -5.5rem;
        }

        @include media-down(desktop) {
            bottom: -3rem;
            padding: 3rem;
        }

        @include media-down(tablet) {
            bottom: 0;
            max-width: 100%;
        }

        @include media-down(mobile) {
            padding: 2rem 1.5rem;
        }   

        .o-button3 {
            position: static;
            margin-left: 0;
        }

        .form {
            label#message-error {
                // display: block;
                width: 100%;
            }

            label.error {
                font-size: 1.2rem;
            }

            input {
                height: 4.4rem;
                border-radius: 0;
                
                @include media-down(desktop) {
                    height: 3.8rem;
                }
            }

            textarea {
                height: 9rem;

                @include media-down(desktop) {
                    height: 6.4rem;
                }
            }

            .intl-tel-input.allow-dropdown {
                .selected-flag {
                    height: 4.2rem;

                    @include media-down(desktop) {
                        height: 3.6rem;
                    }
                }
            }
        }

        h2 {
            font-size: 3rem;
            color: #000000;
            font-family: family(secondary);
            margin-bottom: 2.5rem;

            @include media-down(desktop) {
                font-size: 2.4rem;
                margin-bottom: 1.5rem;
            }

            @include media-down(tablet-large) {
                font-size: 2rem;
                line-height: normal;
            }

            @include media-down(tablet-large) {
                margin-bottom: 1.5rem;
            }
        }

        .form label {
            font-size: 1.6rem;
            line-height: normal;
            max-height: 100px;
            font-weight: normal;

            @include media-down(desktop) {
                max-height: 88px;
            }
        }
    }
}