footer {
    background-color: $interface-light-black;
    padding: 9rem 0 4rem 0;
    background: linear-gradient(311.44deg, #23A7E0 0.33%, #2D2F8F 20.44%, #702E8E 40.59%, #E62E2E 64.98%, #E98824 84.58%, #FFCC06 100%);

    .footer-row {
        display: flex;
        width: 100%;

        // &__top {
        //     display: flex;
        //     padding: 0 7rem;
        //     border-bottom: 1px solid #dddddd;
    
        //     &--location {
        //         width: 20.5%;
        //         padding-bottom: 3rem; 
    
        //         .address {
        //             color: $interface-white;
        //             @extend %o-paragraph-large;
        //             padding-top: 2rem;                   
        //         }
    
        //         .phone {
        //             color: $interface-white;
        //             @extend %o-paragraph-large;
        //             padding-top: 2rem;  
        //             font-family: family(primary);  
        //         }
    
        //         .email {
        //             @extend %o-paragraph-large;
        //             padding-top: 1.5rem;  
        //             font-family: family(primary);  
                    
        //             a {
        //                 color: $interface-white;                    
        //             }
        //         }
        //     }
    
        //     &--newsletter {
        //         width: 52.3%;
        //         padding-left: 16rem;
        //         padding-right: 16rem;
        //         border-left: 1px solid #dddddd;
        //         border-right: 1px solid #dddddd;
    
        //         h2 {
        //             @extend %o-header--h6;
        //             color: $interface-white;
        //             font-weight: weight(bold);
        //         }
    
        //         p {
        //             @extend %o-paragraph-large;
        //             color: $interface-white;
        //             padding-top: 2rem;
        //             max-width: 35rem;
        //         }
    
        //         .newsletter {
        //             max-width: 60rem;
        //             margin-top: 2.7rem;
        //             position: relative;
                    
        //             input {
        //                 border: 1px solid $interface-white;
        //                 border-radius: 4rem;
        //                 color: $interface-white;
        //             }
    
        //             button {
        //                 position: absolute;
        //                 top: 0;
        //                 right: 2.4rem;
        //                 height: 26px;
        //                 bottom: 0;
        //                 margin: auto;
    
        //                 i {
        //                     color: $interface-white;
        //                     font-size: 2.5rem;
        //                 }
        //             }
                        
        //         }
        //     }
    
        //     &--socialmedia {
        //         padding-left: 7rem;
    
        //         #block-12 {
        //             width: 100%;
        //         }
    
        //         h2 {
        //             @extend %o-header--h6;
        //             color: $interface-white;
        //             font-weight: weight(bold);
        //         }
    
        //         .social-media-links {
        //             ul {
        //                 display: flex;
        //                 flex-wrap: wrap;
    
        //                 li {
        //                     width: 50%;
        //                     @extend %o-body-medium;
        //                     padding-top: 2.5rem;
    
        //                     a {
        //                         text-decoration: underline;
        //                         text-underline-offset: 0.5rem;
        //                         color: $interface-white;
        //                     }
        //                 }
        //             }
        //         }
        //     }
            
        // }
    
        // &__bottom {
        //     padding: 8rem 7rem 0;
        //     display: flex;
    
        //     &--row {
        //         @extend %o-body-medium;
        //         width: 20%;

        //         h2 {
        //             @extend %o-body-medium;
        //             color: $interface-white;
        //             font-weight: weight(bold);
        //             padding-bottom: 1.5rem;
        //         }

        //         ul li {
        //             a {
        //                 @extend %o-paragraph-medium;
        //                 color: $interface-white;
        //             }
        //         }
        //     }   
        // }

        .footer-left {
            width: 42.2%;

            @include media-down(desktop) {
                width: 45.2%;
            }

            @include media-down(tablet-large) {
                width: 50%;
            }

            @include media-down(tablet) {
                width: 100%;
            }
        }

        .footer-right {
            width: 57.8%;
            display: flex;
            flex-wrap: wrap;
            padding-left: 28.2rem;

            .footer-top-title {
                color: $interface-white;
                @extend %o-body-medium;
                padding-bottom: 1rem;
            }

            .footer-row__bottom--row {
                width: 50%;

                ul li {
                    padding: 0.5rem 0;

                    a {
                        color: $interface-light-grey;
                        @extend %o-paragraph-medium;
                    }
                }

                &:nth-child(3) {
                    padding-top: 10rem;

                    @include media-down(desktop-large) {
                        padding-top: 3rem;
                    }

                    @include media-down(tablet) {
                        padding-top: 0;
                    }

                    @include media-down(mobile) {
                        padding-top: 2.5rem;
                    }
                }

                &:nth-child(4){
                    padding-top: 10rem;

                    @include media-down(desktop-large) {
                        padding-top: 3rem;
                    }

                    @include media-down(tablet) {
                        padding-top: 0;
                    }

                    @include media-down(mobile) {
                        padding-top: 2.5rem;
                    }
                }


                @include media-down(tablet) {
                    width: 25%;
                }

                @include media-down(mobile) {
                    width: 50%;
                }
            }   

            @include media-down(desktop) {
                width: 54.8%;
                padding-left: 22rem;
            }

            @include media-down(laptop) {
                padding-left: 16rem;
            }

            @include media-down(tablet-large) {
                width: 50%;
                padding-left: 10rem;
            }

            @include media-down(tablet) {
                width: 100%;
                padding-left: 0;
                padding-top: 5rem;
            }
        }

        @include media-down(tablet) {
            flex-wrap: wrap;
        }
    }

    .footer-btm {
        padding-top: 11.5rem;
        display: flex;
        justify-content: space-between;

        .site-info {
            color: $interface-white;
            @extend %o-paragraph-large;
        }

        .footer-btm-links {
            ul {
                display: flex;

                li {
                    padding: 0 1rem;

                    a {
                        @extend %o-paragraph-medium;
                        color: $interface-white;
                    }

                    &:last-child {
                        position: relative;

                        &::before {
                            content: "|";
                            position: absolute;
                            color: $interface-white;
                            left: 0;
                        }
                    }
                }
            } 

            @include media-down(mobile) {
                padding-top: 1.5rem;
            }
        }

        @include media-down(laptop) {
            padding-top: 7rem;
        }

        @include media-down(tablet) {
            flex-wrap: wrap;
        }

        @include media-down(mobile) {
            padding-top: 3rem;
        }
    }

    .footer-social-link {
        ul {
            display: flex;

            li {
                padding: 0 1.2rem;

                a {
                    color: $interface-white;
                    font-size: 1.8rem;
                }
            }
        }
    }

    @include media-down(desktop) {
        padding: 6rem 0 4rem 0;
    }

    @include media-down(laptop) {
        padding: 5rem 0 4rem 0;
    }

    @include media-down(mobile) {
        padding: 3rem 0 3rem 0;
    }

    .footer-social-links {
        @include media-down(tablet) {
            padding-top: 2rem;
        }
    }
}
