.page-glossary-terms,.glossary-detail-main {
    .breadcrumb-section {
        padding-top: 2.5rem;
    }
}

.characters-wrap {
    width: 100%;
    padding: 10rem 0 7rem;

    @include media-down(desktop-large) {
        padding: 7rem 0 7rem;
    }

    @include media-down(desktop) {
        padding: 5rem 0 5rem;
    }

    @include media-down(tablet) {
        padding: 3rem 0 3rem;
    }

    .characters-listing {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        box-shadow: 0px 1px 2px 0px #0000000D;
        border: 1px solid #D9D9D9;
        max-width: 145rem;
        margin: 0 auto;
        padding: 2rem;

        @include media-down(desktop) {
            padding: 1.5rem;
        }

        @include media-down(mobile) {
            padding: 0.5rem;
        }

        li {
            margin: 0.5rem !important;

            a {
                color: $interface-light-black;
                font-size: 1.6rem;
                font-weight: 700;
                height: 4rem;
                width: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #F8F8F8;
                border: 1px solid $interface-light-grey;
                letter-spacing: 0.1rem;

                @include media-down(desktop-large) {
                    height: 3.9rem;
                    width: 3.9rem;
                }

                @include media-down(desktop) {
                    height: 3.3rem;
                    width: 3.3rem;
                    font-size: 1.4rem;
                }

                &.active {
                    background: linear-gradient(90deg, #2D2F8F 0%, #702E8E 100%);
                    color: $interface-white;
                    border-color: transparent;
                }
            }
        }
    }
}

.glossary-all {
    width: 100%;

    .glossary-wrap {
        width: 100%;

        .glossary-row {
            margin: 0 -4rem 6rem -4rem;
            display: flex;
            flex-wrap: wrap;

            &:last-child {
                @include media-down(mobile) {
                    .glossary-col {
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            @include media-down(desktop) {
                margin: 0 -2rem 4rem -2rem;
            }

            @include media-down(tablet) {
                margin: 0 -1.5rem 3rem -1.5rem;
            }

            @include media-down(mobile) {
                margin: 0 -1.5rem 0rem -1.5rem;
            }

            .glossary-col {
                padding: 0 4rem;
                width: 33.33%;

                @include media-down(desktop) {
                    padding: 0 2rem 0 2rem;
                }

                @include media-down(tablet) {
                    padding: 0 1.5rem 0 1.5rem;
                }

                @include media-down(mobile) {
                    width: 100%;
                    margin-bottom: 2.5rem;
                }

                .col-heading {
                    border-bottom: 1px solid #D9D9D9;
                    padding-bottom: 1.5rem;
                    margin-bottom: 2.2rem;

                    @include media-down(desktop) {
                        padding-bottom: 1.2rem;
                        margin-bottom: 1.2rem;
                    }

                    h2 {
                        color: $interface-light-black;
                        font-weight: 700;
                        font-size: 2.8rem;

                        @include media-down(desktop) {
                            font-size: 2.4rem;
                        }

                        @include media-down(tablet) {
                            font-size: 2.2rem;
                        }

                        @include media-down(mobile) {
                            font-size: 2rem;
                        }
                    }
                }

                .glossary-col-listing {
                    li {
                        width: 100%;
                        margin-bottom: 2.5rem;

                        @include media-down(desktop-large) {
                            margin-bottom: 1.5rem;
                        }

                        @include media-down(desktop) {
                            margin-bottom: 1rem;
                        }

                        @include media-down(laptop-large) {
                            margin-bottom: 0.5rem;
                        }

                        a {
                            font-size: 2rem;
                            color: $interface-black;
                            position: relative;
                            width: 100%;
                            display: block;
                            padding-right: 3rem;
                            line-height: 2.8rem;
                            transition: all 0.3s ease-in-out;

                            @include media-down(desktop) {
                                font-size: 1.8rem;
                            }

                            @include media-down(laptop-large) {
                                font-size: 1.6rem;
                            }

                            @include media-down(mobile) {
                                font-size: 1.4rem;
                            }

                            &::after {
                                position: absolute;
                                content: "";
                                background-image: url('../../assets/images/glossary-arrow.svg');
                                width: 1.9rem;
                                height: 1.6rem;
                                display: inline-block;
                                right: 0;
                                top: 50%;
                                transform: translateY(-50%);
                                opacity: 0;
                                visibility: hidden;
                                transition: all 0.3s ease-in-out;
                            }

                            &:hover {
                                color: $interface-darkblue;

                                &::after {
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }
                    }

                    .no-terms {
                        font-size: 2rem;
                        color: $interface-black;
                        line-height: 2.8rem;

                        @include media-down(desktop) {
                            font-size: 1.8rem;
                        }

                        @include media-down(laptop-large) {
                            font-size: 1.6rem;
                        }

                        @include media-down(mobile) {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }
}

.glossary-accordian {
    width: 35rem;
    max-width: 100%;
    padding-top: 12rem;

    @include media-down(desktop-large) {
        padding-top: 11rem;
    }

    @include media-down(desktop) {
        padding-top: 5.5rem;
        width: 30rem;
    }

    @include media-down(laptop) {
        padding-top: 3.5rem;
    }

    @include media-down(tablet) {
        padding-top: 5rem;
    }

    @include media-down(mobile) {
        padding-top: 3rem;
        width: 100%;
    }

    .glossary-search {
        width: 100%;
        margin-bottom: 2rem;

        input[type="text"] {
            border: 1px solid $interface-light-grey;
            border-radius: 0;
            height: 5rem;
            padding: 1.5rem 4.5rem 1.5rem 1.5rem;
            font-size: 1.6rem;
            font-family: family(dm-sans);
            background-image: url('../../assets/images/search-glossary.png');
            background-repeat: no-repeat;
            background-size: 1.6rem;
            background-position: calc(100% - 1.5rem);
            color: $interface-light-black;

            @include media-down(desktop) {
                padding: 1rem 4.5rem 1rem 1.5rem;
                height: 4rem;
            }

            &::placeholder {
                color: $interface-grey;
            }
        }
    }

    .az-accordion-wrapper {
        border: 1px solid $interface-light-grey;
        border-bottom: 0;
        
        .az-group {
            background-color: #FBFBFB;

            &.active {
                .az-heading {
                    &::after {
                        transform: translateY(-50%) rotate(0);
                    }
                }
            }

            .az-heading {
                border-bottom: 1px solid $interface-light-grey;
                background-color: #FBFBFB;
                font-size: 1.6rem;
                color: $interface-light-black;
                font-weight: 700;
                padding: 1.5rem 4.5rem 1.5rem 1.5rem;
                cursor: pointer;
                height: 5rem;
                position: relative;

                @include media-down(desktop) {
                    padding: 1rem 4.5rem 1rem 1.5rem;
                    height: 4rem;
                }

                &::after {
                    position: absolute;
                    content: "";
                    background-image: url('../../assets/images/accordion-btn.png');
                    width: 14px;
                    height: 8px;
                    right: 15px;
                    top: 50%;
                    transform: translateY(-50%) rotate(180deg);
                }
            }

            .az-empty {
                border-bottom: 1px solid $interface-light-grey;
                font-size: 1.4rem;
                color: $interface-light-black;
                font-family: family(dm-sans);
                line-height: 2rem;
                padding: 1.5rem;
                height: 5rem;

                @include media-down(desktop) {
                    padding: 1rem 1.5rem;
                    height: 4rem;
                }
            }

            .az-list {
                li {
                    border-bottom: 1px solid $interface-light-grey;
                    background-color: $interface-white;

                    a {
                        font-size: 1.4rem;
                        color: $interface-light-black;
                        font-family: family(dm-sans);
                        line-height: 2rem;
                        padding: 1.5rem;
                        display: block;
                        height: 5rem;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        @include media-down(desktop) {
                            padding: 1rem 1.5rem;
                            height: 4rem;
                        }

                        &:hover {
                            color: $interface-darkblue;
                        }

                        &.active {
                            color: $interface-darkblue;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

    .az-list,
    .az-empty {
        display: none;
    }

    .az-group.active .az-list,
    .az-group.active .az-empty {
        display: block;
    }
}

.glossary-detail-wrap {
    .blogdetail-row {
        @include media-down(tablet-large) {
            display: flex;
            flex-wrap: wrap;
        }

        .blogdetail-right {
            width: calc(100% - 35rem);
            padding-left: 7rem;

            .container {
                @include media-down(mobile) {
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            @include media-down(desktop-large) {
                padding-left: 5rem;
            }

            @include media-down(desktop) {
                padding-left: 4rem;
                width: calc(100% - 30rem);
            }

            @include media-down(tablet) {
                padding-left: 2rem;
            }

            @include media-down(mobile) {
                padding-left: 0rem;
                width: 100% !important;
            }
        }
    }

    &.blogdetail-wrap {
        >.container {
            @include media-down(tablet-large) {
                padding: 0 2rem;
            }

            @include media-down(mobile) {
                padding: 0 1.5rem;
            }
        }
    }
}