.page-running-google-ads {
    .lp-header-logo {
        background-color: #03030E;
        border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
        padding: 13px 0px;

        a {
            width: 140px;
            display: inline-block;

            @include media-down(desktop) {
                width: 120px;
            }

            @include media-down(tablet) {
                width: 100px;
            }
        }
    }

    .tablet-mobile-display {
        padding-top: 0;
    }

    .contact-main-new {
        padding: 10rem 0;

        @include media-down(desktop) {
            padding: 8rem 0;
        }

        @include media-down(tablet) {
            padding: 5rem 0;
        }

        .contact-form-section {
            display: flex;
            align-items: center;

            .contact-form-left-section {
                padding-top: 0;
                display: flex;
                align-items: center;
                max-width: 71rem;

                @include media-down(tablet) {
                    margin-bottom: 30px;
                }

                h1 {
                    font-size: 7rem;
                    line-height: 9rem;
                    margin-bottom: 4rem;

                    @include media-down(desktop-large) {
                        font-size: 6rem;
                        line-height: 8rem;
                        margin-bottom: 3rem;
                    }

                    @include media-down(laptop-large) {
                        font-size: 5rem;
                        line-height: 7rem;
                        margin-bottom: 2rem;
                    }

                    @include media-down(tablet) {
                        font-size: 3rem;
                        line-height: 4rem;
                    }

                    @include media-down(mobile) {
                        font-size: 2.5rem;
                        line-height: 3.5rem;
                    }
                }

                p {
                    font-size: 3rem;
                    line-height: 5rem;

                    @include media-down(desktop-large) {
                        font-size: 2.6rem;
                        line-height: 4.4rem;
                    }

                    @include media-down(laptop-large) {
                        font-size: 2.2rem;
                        line-height: 4rem;
                    }

                    @include media-down(tablet) {
                        font-size: 1.8rem;
                        line-height: 3rem;
                    }

                    @include media-down(mobile) {
                        font-size: 1.6rem;
                        line-height: 2.6rem;
                    }

                    strong {
                        color: $interface-white;
                    }
                }
            }

            .contact-form-right-section {
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 34rem;

                @include media-down(desktop-large) {
                    padding-left: 24rem;
                }

                @include media-down(desktop) {
                    padding-left: 18rem;
                }

                @include media-down(laptop-large) {
                    padding-left: 12rem;
                }

                @include media-down(tablet) {
                    padding-left: 0rem;
                }
            }
        }

        .contact-form.common-form {
            bottom: 0;
        }
    }

    .services {
        margin-top: 0;
    }

    footer {
        .footer-row {
            .footer-btm-section {
                padding-top: 0;
            }
        }
    }
}

.thank-you-lp {
    text-align: center;

    h1 {
        font-weight: bold;
        margin-bottom: 1.5rem;
        margin-top: 7.5rem;
        font-size: 3rem;

        @include media-down(desktop) {
            font-size: 2.4rem;
        }

        @include media-down(tablet) {
            font-size: 1.8rem;
        }

        @include media-down(mobile) {
            margin-top: 4rem;
        }
    }

    p {
        font-size: 1.8rem;
        line-height: normal;

        @include media-down(tablet) {
            font-size: 1.4rem;
        }
    }
}