.industries-main-section {
  padding-top: 20rem;
}
.industries-slider {
  padding-top: 6rem;

  .industries-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &.hover-slider {
    .listing-block {
      height: 65.8rem;

      .o-body-large {
        bottom: 2.083vw;
      }

      @include media-down(desktop-large) {
        height: 54.2rem;
      }
    }
  }
}

.industries-section {
  padding-top: 25.2rem;
  position: relative;
  padding-bottom: 25rem;

  .custom-heading {
    h2 {
      color: $interface-black;
      text-align: center;
    }
  }
  .o-body-medium {
    max-width: 72.7rem;
    padding-top: 2rem;
    margin: auto;

    p {
      color: $interface-light-black;
      text-align: center;
    }
  }

  &:after {
    content: '';
    position: absolute;
    background-color: $interface-dark-grey;
    width: 130rem;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: zindex(under);
  }
}

.industriesSwiper {
  position: relative;
  margin-top: 10rem;

  .indutries-image {
    position: relative;

    img {
      height: 70rem;
      border-radius: 2.083vw;
    }

    &:after {
      content: '';
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #282828 100%);
      opacity: 0.6;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      border-radius: 2.083vw;
      top: -0.7rem;
      display: block;
    }
  }
  .slide-caption {
    position: absolute;
    bottom: 2.083vw;
    padding: 0 2.083vw;

    .o-header--h4 {
      color: $interface-white;
      font-weight: weight(extrabold);
    }
  }

  .industries-wrapper .swiper-slide {
    width: 25.8% !important;
    margin-right: 8rem;
  }
}

.our-industries-section {
  background-color: $interface-brown;
  margin-top: 20rem;
  position: relative;
  overflow: hidden;

  @include media-down(desktop-large) {
    margin-top: 10rem;
  }

  @include media-down(tablet) {
    margin-top: 6rem;
  }
  @include media-down(mobile) {
    margin-top: 4rem;
  }

  &:after {
    content: "";
    position: absolute;
    background: linear-gradient(315.86deg, #23A7E0 26.35%, #2D2F8F 39.84%, #702E8E 51.51%, #E62E2E 64.74%, #E98824 76.38%, #FFCC06 85.54%);
    mix-blend-mode: difference;
    opacity: 0.3;
    filter: blur(355px);
    transform: rotate(38.02deg);
    z-index: zindex(float);
    width: 886.25px;
    height: 1089.59px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    display: block;
  }
   
  .our-industries-section-left {
      width: 80%;

      @include media-down(tablet) {
        width: 74%;
      }

      @include media-down(mobile) {
        width: 62%;
      }
  }

  .our-industries-section-right {
    width: 20%;

    @include media-down(tablet) {
      width: 30%;
    }
  }

  .our-industries-section-top {
    display: flex;
    align-items: center;
    padding-left: 8rem;
    padding-right: 8rem;
    z-index: zindex(search);
    position: relative;

    .btn-section {
      width: 20%;

      @include media-down(tablet) {
        width: 26%;
      }

      @include media-down(mobile) {
        width: 37%;
      }
    }
    .o-button3 {
      margin-left: auto;
      display: flex;
      justify-content: end;
    }

    @include media-down(desktop-large) {
      padding-left: 5.5rem;
      padding-right: 5.5rem;
    }
    @include media-down(mobile) {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .o-button3 {
      margin-left: auto;
      display: flex;
      justify-content: end;
      @include media-down(mobile) {
        justify-content: flex-start;
        margin-top: 1rem;
      }
    }

    
  }

  .our-industries-section-btm {
    // padding-bottom: 10rem;
    z-index: zindex(search);
    position: relative;
    
    @include media-down(desktop-large) {
      // padding-bottom: 8rem;
    }
    @include media-down(laptop) {
      // padding-bottom: 3rem;
    }
    @include media-down(tablet) {
      // padding-bottom: 3rem;
    }
    @include media-down(mobile) {
      // padding-bottom: 2rem;
    }
    
    .o-header--h2 {
      font-family: 'ObjectSansBold';
      font-weight: weight(regular);
      color: $interface-white;
      max-width: 136rem;

      strong {
        color: $interface-yellow;
      }
      @include media-down(mobile) {
        padding-top: 1.5rem;
      }
    }
  }    
}
.indutriesbtmSwiper {
  margin: 0 -3.6rem;
}

.indutries-section-btm {
  display: flex;
  position: relative;
  overflow: hidden;
  margin-top: 10rem;

  @include media-down(desktop-large) {
    margin-top: 5rem;
  }

  @include media-down(desktop) {
    margin-top: 3rem;
  }

  @include media-down(tablet-large) {
    margin-top: 3rem;
  }

  @include media-down(mobile) {
    flex-wrap: wrap;
    margin: 0;
  }
  &:hover{
    .industries-block{
      width: 0;
    }
  }
  .industries-block {
    flex-shrink:inherit;
    position: static;
    width: 33.33%;
    display: block;
    transition: width 1.1s ease;
    transform: none;
    backface-visibility: visible;

    @include media-down(desktop-large) {
      width: 33.33%;
    }

    @include media-down(tablet-large) { 
      margin-top: 0;
    }

    @include media-down(tablet) { 
      padding: 0;
    }

    @include media-down(mobile) {
      width: 100% !important;
      margin-bottom: 4rem;
      display: flex;
      flex-wrap: wrap;
    }
    &:hover{
      width: 100% !important;
    }
    // &:nth-child(even) {
    //   margin-top: 20rem;

    //   @include media-down(desktop-large) {
    //     margin-top: 16rem;
    //   }

    //   @include media-down(desktop) {
    //     margin-top: 17rem;
    //   }

    //   @include media-down(tablet-large) { 
    //     margin-top: 12rem;
    //   }

    //   @include media-down(tablet) {
    //     margin-top: 12rem;
    //   }

    //   @include media-down(mobile) {
    //     margin: 3rem 0 2rem;
    //   }
    // }

    .industries-img {
      position: relative;
      height: 750px;
      width: 100%;
      background-size: cover;
      background-position: 50%;
      transform: scale(1);
      transition: transform 0.8s ease 0s;

      @include media-down(desktop-large) {
        height: 60rem;
      }

      @include media-down(desktop) {
        height: 55rem;
      }

      @include media-down(laptop) {
        height: 50rem;
      }

      @include media-down(tablet-large) {
        height: 40rem;
      }

      @include media-down(tablet) {
        height: 32rem;
      }

      @include media-down(mobile) {
        height: 22.5rem;
        transform: scale(1) !important;
      }

      &:after {
        content: "";
        background-color: #1E1E1E;
        opacity: 0.5;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
      
      img {
        position: relative;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &:hover{
      .industries-img{
        transition-delay: 0.3s;
        transform: scale(1.3);
      }
    }

    .industries-caption {
      position: absolute;
      bottom: 14.5rem;
      left: 0;
      bottom: 0;
      padding: 5rem 5rem;
      width: 33.33%;
      z-index: 5;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      border-right: 1px solid rgba(170, 170, 170, 0.8);

      @include media-down(desktop-large) {
        padding: 0 4rem 4rem;
      }
      @include media-down(laptop-large) {
        padding: 0 3rem 4rem;
      }
      @include media-down(tablet-large) {              
        padding: 0 3rem 3rem;
      }

      @include media-down(tablet) {              
        padding: 2rem 2rem 3rem 2rem;
        bottom: 0;
      }

      @include media-down(mobile) {              
        padding: 2rem 0 0 0;
        position: initial;
        display: flex;
        flex-wrap: wrap;
        order: 2;
        width: 100%;
        border: 0;
      }

      h4 {
        @extend %o-header--h3;
        font-family: 'ObjectSansBold';
        font-weight: weight(regular);
        color: $interface-white; 
        @include media-down(tablet) {
          font-size: 2rem;
          line-height: 2.6rem;
        }
        @include media-down(mobile) {  
          color: $interface-black;
        }
      }
      p {
        @extend %o-paragraph-large;
        color: $interface-white;
        padding-top: 0;
        height: 0;
        overflow: hidden;
        transition: all 0.3s ease-out;   
        @include media-down(tablet) {
          font-size: 1.4rem;
          line-height: 2rem;
        }
        @include media-down(mobile) {
          height: initial;
          color: $interface-black;
          padding-top: 1rem;
          padding-bottom: 0.5rem;
        }
      }

      .o-button3 {
        height: 0;
        overflow: hidden;
        transition: all 0.3s ease-out;  

        @include media-down(mobile) {
          height: auto;
          padding-top: 1rem !important;
          overflow: visible;
        }
      }
    }

    &:last-child {
      .industries-caption {
        border-right: 0;
      }
    }

    &:nth-child(2){
      .industries-caption{
        left: 33.33%;
      }
    }
    &:nth-child(3){
      .industries-caption{
        left: 66.66%;
      }
    }
    &:hover{
      .industries-caption p, .industries-caption .o-button3 {
        height: auto;
        overflow: visible;
        padding-top: 2rem;

        @include media-down(tablet) { 
          padding-top: 1.5rem;
        }
        @include media-down(mobile) { 
          padding-top: 1rem;
        }
      }
      // .industries-img:after {
      //   opacity: 0;
      //   visibility: hidden;
      // }
    }
  }
  
}

.industies-section {
  position: relative;
  z-index: zindex(nav);

  // &:before {
  //   background: linear-gradient(360deg, #FFFFFF 9.42%, #702E8E 55.65%, #2D2F8F 99.06%);
  //   opacity: 0.07;
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   left: 0;
  //   top: 0;
  // }

  &:after {
    z-index: -1;
    content: "";
    background-image: url(../images/industries-bg.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: absolute;
    width: 96.5rem;
    height: 133.1rem;
    right: 0;
    top: 0;
    @include media-down(desktop-large) {
      width: 82rem;
      height: 106rem;
    }
    @include media-down(desktop) {
      width: 72rem;
      height: 90rem;
    }
    @include media-down(laptop-large) {
      width: 68rem;
      height: 80rem;
    }
    @include media-down(laptop) {
      width: 65rem;
      height: 70rem;
    }
    @include media-down(tablet-large) {
      width: 50rem;
      height: 60rem;
    }
    @include media-down(tablet) {
      width: 40rem;
      height: 50rem;
    }
    @include media-down(mobile) {
      display: none !important;
    }
  }

  .custom-heading h3 {
    max-width: 136rem;
  }
  
}
