.service-block {
    @extend %pt-200;

    .custom-heading {
        color: $interface-black;
    }

    .o-body-medium {
        padding-top: 2rem;

        p {
            color: $interface-black;
            max-width: 72.4rem;
        }
        
    }

    
}
.service-listing-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .service-listing {
        width: 43.3%;
        padding: 10rem 0;
        height: 85rem;
        position: relative;
        transition-duration: 0.5s;
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);

        a {
            display: block;
            height: 100%;
        }
        .service-content-block {
            position: absolute;
            z-index: zindex(float);
            height: 100%;
            width: 100%;
            padding: 7rem;

            .service-title {
                @extend %o-header--h4;
                color: $interface-white;
                font-weight: weight(extrabold);
            }

            .service-description {
                font-size: size(body, large-desktop);
                line-height: lineheight(body, large-desktop);
                color: $interface-white;
                max-width: 37rem;
                padding-top: 2rem;

                @include media-down(desktop-large) {
                    max-width: 30rem;
                }
            }
        }
        

        .service-img {
            position: relative;
            transition-duration: 0.5s;
            width: 100%;
            height: 100%;
            box-shadow: 0px 0px 8rem rgba(0, 0, 0, 0.2);
            border-radius: 40px;

            &:before {
                background: rgba(45, 47, 143, 0.9);
                mix-blend-mode: normal;
                transition: opacity 0.35s, transform 0.35s;
                content: "";
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 4rem;
            }

            img {
                display: block;
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 4rem;
            }      
        }

        .view-btn {
            margin-left: auto;
            margin-right: 3.3rem;
            margin-bottom: -5rem;
        }

        &:hover {
            // .service-description {
            //     opacity: 1;
            //     transition-duration: 0.5s;
            //     transform: translate3d(0,0,0);
            //     -webkit-transform: translate3d(0,0,0);
            //     transform: translate3d(0,0,0);
            // }
            // .service-title {
            //     transform: translate3d(0,130px,0);
            //     transition-duration: 0.5s;

            //     @include media-down(desktop-large) {
            //         transform: translate3d(0,80px,0);
            //     }
            // }

            .service-img {
                &:before {
                    transition-duration: 0.5s;
                    background: linear-gradient(8.01deg, #2D2F8F 2.06%, rgba(112, 46, 142, 0) 94.71%);
                }
            }

            .view-btn {
                opacity: 1;
                transition-duration: 0.5s;
                transform: translate3d(0,0,0);
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
            }
        }

        @include media-down(desktop-large) {
            height: 45rem;
        }
        
    }
}