.section-row {
  display: flex;
  margin-bottom: 6.771vw;
  padding: 0px 2vw;

  &:nth-of-type(odd) {
    .vc_col-sm-6 {
      &:first-child {
        order: 2;
      }
    }
  }

  &:nth-of-type(even) {}

  h2 {
    font-size: 2vw;
    line-height: normal;
    color: $interface-darkblue;
    font-weight: 700;
  }

  p {
    line-height: 1.771vw;
    margin-bottom: 1.563vw;
    font-size: 1.25vw;
  }

  strong {
    font-size: 1.5vw;
    color: #d25f0b;
    font-weight: 700;
  }

  ul {
    padding-top: 0.781vw;

    li {
      @extend %o-paragraph-medium;
      font-size: 1.25vw;
      font-weight: 700;
      margin-bottom: 1.563vw;
      color: $interface-light-black;
      position: relative;
      padding: 0.3rem 0 0.3rem 1.823vw;

      &:before {
        content: '';
        background-image: url(../images/right-arrow.webp);
        left: 0;
        position: absolute;
        top: 0;
        width: 3rem;
        height: 1.8rem;
        background-repeat: no-repeat;
        margin: auto;
        top: 0;
        bottom: 0;
      }
    }
  }
}

.retail-industry {
  margin-left: 11rem;
  margin-top: 15rem;

  @include media-down(desktop-large) {
    margin-left: 10rem;
  }

  @include media-down(desktop) {
    margin-left: 8rem;
    margin-top: 8rem;
  }

  @media (max-width: 1366px) {
    margin-left: 6rem;
    margin-top: 5rem;
  }

  // @include media-down(laptop-large) {
  //   padding-top: 6rem;
  // }
  
  @include media-down(tablet-large) {
    margin-top: 5rem;
    margin-left: 2rem;
  }

  @include media-down(tablet) {
    margin-top: 4rem;
  }

  .swiper-timer-bar, .autoplay-progress {
    top: 15rem;
    right: 11rem;

    @include media-down(desktop-large) {
      top: 11rem;
      right: 0;
    }

    @include media-down(desktop) {
      top: 11rem;
    }

    @include media-down(tablet-large) {
      top: 8rem;
      right: 2rem;
    }

    @include media-down(tablet) {
      width: 32px;
      height: 32px;
      top: 8rem;
    }

    @include media-down(mobile) {
      width: 28px;
      height: 28px;
      top: 10rem;
      right: 1.5rem;
    }
  }

  .custom-heading {

    p.slider-heading {
      max-width: 136rem;
    }

    p {
      font-size: 5rem;
      line-height: 7rem;
      font-weight: weight(bold);
      color: $interface-black;
      font-family: family(secondary);
      max-width: 120rem;
  
      @include media-down(desktop-large) {
        font-size: 4.5rem;
        line-height: 6rem;
      }
  
      @include media-down(desktop) {
        font-size: 4rem;
        line-height: 5.5rem;
      }
  
      @include media-down(laptop) {
        font-size: 3rem;
        line-height: 4.4rem;
        max-width: 98rem;
      }
  
      @include media-down(tablet) {
        font-size: 2.4rem;
        line-height: 3rem;
      }
  
      @include media-down(mobile) {
        font-size: 2rem;
        line-height: 3rem;
      }
    }
  }

  .insutry-cate-slider {
    padding-right: 13rem;
    margin-top: 7rem;

    @include media-down(desktop-large) {
      padding-right: 6rem;
      margin-top: 5rem;
    }

    @media (max-width: 1366px) {
      padding-right: 8rem;
    }

    @include media-down(laptop) {
      padding-right: 6rem;
      margin-top: 3rem;
    }

    @include media-down(tablet-large) {
      padding-right: 3rem;
    }

    @include media-down(mobile) {
      padding-right: 1rem;
    }
    
    &:last-child {
      padding-right: 0;
    }

    .slider-content {
      width: 100%;
      height: 70rem;

      @include media-down(desktop-large) {
        height: 60rem;
      }

      @include media-down(desktop) {
        height: 50rem;
      }

      @include media-down(tablet-large) {
        height: 38rem;
      }

      @include media-down(tablet) {
        height: 32rem;
      }

      @include media-down(mobile) {
        height: 30rem;
      }
    }

    .slider-image {
      width: 100%;
      height: 100%;
      position: relative;
      // border: 1px solid $interface-dark-dark-grey;

      &:after {
        content: "";
        background: linear-gradient(68.32deg, #1E1E1E 27.55%, rgba(30, 30, 30, 0) 64.87%);
        opacity: 0.8;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
      }

      img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
      }

      &:hover {
        
      }
    }

    .slider-content-inner {
      position: absolute;
      left: 5rem;
      bottom: 5rem;
      z-index: zindex(search);
      width: 65%;

      @include media-down(desktop-large) {
        width: 66%;
        left: 3rem;
        bottom: 3rem;
      }

      @include media-down(desktop) {
        width: 67%;
        left: 4rem;
        bottom: 4rem;
      }

      @include media-down(tablet-large) {
        width: 70%;
        left: 3rem;
        bottom: 3rem;
      }

      @include media-down(tablet) {
        width: 80%;
        left: 2rem;
        bottom: 2rem;
      }

      .slider-title {
        @extend %o-header--h3;
        color: $interface-white;
        font-weight: weight(bold);
        font-family: family(secondary);

        @include media-down(mobile) {
          font-size: 1.8rem;
          line-height: 2.8rem;
        }
      }

      .slider-description {
        @extend %o-body-large;
        color: $interface-white;
        padding-top: 0;
        height: 0;
        overflow: hidden;
        transition: all 0.3s ease-out;
        max-width: 44.8rem; 
        font-family: family(dm-sans);
        font-weight: weight(medium);
      }
    }

    &:hover {
      .slider-description {
        height: 100%;
        overflow: visible;
        padding-top: 2rem;

        @include media-down(tablet) { 
          padding-top: 1rem;
        }
      }
    }
  }

  .swiper-pagination-progressbar {
    
  }
}
.swiper-scrollbar-horizontal {
    margin-top: 6rem;
    height: 0.6rem;
    background-color: $interface-border;
    border-radius: 2rem;

    @media (max-width:1366px) {
      margin-top: 3.5rem;
      width: calc(100% - 60px); 
    }

    @include media-down(tablet-large) { 
      margin-top: 4rem;
      width: calc(100% - 20px);
    }

    .swiper-scrollbar-drag {
      border-radius: 2rem;
      width: 40rem;
      border-radius: 2rem;
    }
}