.innovation-section {
    padding-top: 11.5rem;
    padding-bottom: 17.5rem;
    margin-top: 20rem;

    .custom-heading {
        color: $interface-white;
        font-weight: weight(extrabold);
        max-width: 112.7rem;
    }
    .o-body-medium {
        color: $interface-white;
        font-weight: weight(bold);
        padding-top: 3rem;
        max-width: 96.6rem;
    }
}