.insight-block {
    background-color: $interface-light-black;
    margin-top: 35rem;

    .insightful-block-left {
        padding-top: 13.5rem;
        padding-bottom: 13.5rem;

        h2 {
            color: $interface-white;
        }
        p {
            color: $interface-white;
            max-width: 65rem;
            padding-top: 2rem;

            @include media-down(desktop-large) {
                max-width: 55rem;
            }
        }
        .o-button {
            margin-top: 5rem;
        }
    }

    .insightful-block-right {
        margin-top: -15.4rem;
    }
}

.insights-tabs-wrapper {
    .insights-wrapper {
        margin: 0 -3rem;

        .listing-block {
            padding: 5rem 3rem;
            width: 33.33%;

            .view-btn {
                bottom: 18%;
            }
            
            .listing-slider-img {
                position: relative;
                
                    img {
                    height: 70rem;
                }
            }

            &.full-width {
                width: 100%;

                .listing-slider-img img {
                    height: 45rem;
                }
            }
        }
    }
}

.home-insight-block {
    background: linear-gradient(180deg, #FDF8FF 0%, rgba(255, 255, 255, 0) 100%);
    padding-top: 10rem;

    @include media-down(desktop-large) {
        padding-top: 7rem;
    }

    @include media-down(laptop-large) {
        padding-top: 6rem;
    }

    @include media-down(tablet-large) {
        padding-top: 5rem;
    }

    @include media-down(mobile) {
        padding-top: 3rem;
        margin-top: 3.5rem;
    }

    br {
        @include media-down(mobile) {
            display: none;
        }
    }
}

.post-outer {
    &.insights-section-wrapper {
        padding-top: 7rem;
        margin: 0;

        @include media-down(tablet-large) {
            padding-top: 5rem;
        }

        @include media-down(tablet) {
            padding-top: 4rem;
        }

        .insights-left {
            width: 44.7%;
            padding-right: 6rem;

            @include media-down(tablet-large) {
                padding-right: 3rem;
            }

            @include media-down(tablet) {
                width: 100%;
                padding-right: 0;
                margin-bottom: 3rem;
            }

            .blog-banner-img img {
                height: 38.6rem;

                @include media-down(desktop) {
                    height: 27.6rem;
                }

                @include media-down(tablet) {
                    height: 22.3rem;
                }
            }

            .post .blog-banner-content .post-excerpt {
                height: 8.6rem;
                overflow: hidden;

                @include media-down(desktop) {
                    height: 7.6rem;
                }

                @include media-down(tablet) {
                    height: 9.8rem;
                }

                @include media-down(mobile) {
                    height: 11.8rem;
                }
            }

            .post {
                @include media-down(tablet) {
                    box-shadow: none;
                }

                .post-inner {
                    @include media-down(tablet) {
                        display: flex;
                    }

                    @include media-down(mobile) {
                        display: flex;
                        flex-wrap: wrap;
                    }
                }
            }
        }

        .insights-right {
            width: 55.3%;

            @include media-down(tablet) {
                width: 100%;
            }

            .post-inner {
                display: flex;

                @include media-down(mobile) {
                    display: flex;
                    flex-wrap: wrap;
                }

                a {
                    width: 98%;
                }
            }

            .post {
                &:nth-child(2) {
                    margin-top: 6rem;

                    @include media-down(desktop) {
                        margin-top: 3rem;
                    }
                }
            }
        }

        .post .blog-banner-content {
            padding: 3rem 3rem;
            box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.06);
            border: 0.1rem solid $interface-light-grey;

            @include media-down(desktop) {
                padding: 2rem 2rem;
            }

            @include media-down(mobile) {
                padding: 1.5rem 1.5rem;
            }

            .post-inner-title {
                padding-top: 2rem;
                height: 8.2rem;

                @include media-down(desktop) {
                    font-size: 2rem;
                    line-height: 3rem;
                    padding-top: 1rem;
                    height: 7.2rem;
                }

                @include media-down(tablet-large) {
                    font-size: 1.8rem;
                    line-height: 2.6rem;
                    padding-top: 1rem;
                    height: 6.2rem;
                }

                &:hover {
                    color: $interface-darkblue;
                }
            }

            .blog-banner-date .post-date {
                padding-left: 0;
                @extend %o-paragraph-medium;
                font-weight: weight(medium);

                @include media-down(desktop) {
                    font-size: 1.6rem;
                    line-height: 2.2rem;
                }
            }

            .post-excerpt {
                max-width: 59.6rem;
                height: 110px;
                overflow: hidden;

                @include media-down(desktop) {
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    height: 88px;
                    padding-top: 1rem;
                }

                @include media-down(mobile) {
                    height: 11.8rem;
                }
            }
        }

        .blog-banner-img img {
            height: 29.2rem;

            @include media-down(desktop) {
                height: 22.3rem;
            }
        }

        .post {
            
        }
    }
}