.leadership-founder {
    background-color: $interface-light-black;
    margin-top: 20rem;

    .leadership-left {
        padding-top: 7.4rem;

        .o-header--h2 {
            color: $interface-white;
            font-weight: weight(extrabold);
        }
    
        .o-body-medium {
            color: $interface-white;
            max-width: 65rem;
            padding-top: 2rem;
        }   

        .o-body-large {
            color: $interface-white;
            padding-top: 4rem;
            font-weight: weight(bold);
        }
    
        .team-link {
            padding-bottom: 16rem;

            a {
                color: $interface-white;
                padding-top: 3rem;
                font-size: 2.4rem;
                text-decoration: underline;
                text-underline-offset: 0.3rem;
                display: block;
            }
            
        }
    }
    
    .leadership-right {
        margin-top: -19rem;

        img {
            width: 70rem;
            height: 80rem;
            object-fit: cover;
        }
    }
}

.meet-team-block {
    .o-header--h1 {
        h1 {
            @extend %o-header--h1;
            color: $interface-black;
            font-weight: weight(bold);
        }     
    }
    .o-body-medium {
        color: $interface-black;
        padding-top: 3rem;
        max-width: 147.5rem;
    }
}

.team-listing {
    .team-member {
        display: flex;
        padding-top: 22rem;
        justify-content: space-between;
        align-items: center;
        
        .team-member-detail {
            width: 47.5%;

            .o-header--h5 {
                @extend %o-header--h6;
                font-weight: weight(bold);
                color: $interface-black;
            }
            .o-body-large {
                @extend %o-body-large;
                font-weight: weight(medium);
                color: $interface-black;
                padding-top: 2rem;
            }
            .team-description {
                font-size: 2.4rem;
                line-height: 3.8rem;
                font-weight: weight(regular);
                color: $interface-light-black;
                padding-top: 4rem;
                max-width: 70.8rem;
            }
            .team-link {
                font-size: 2.4rem;
                line-height: 3.8rem;
                font-weight: weight(regular);
                color: $interface-blue;
                padding-top: 3rem;
                display: block;
            }
        }
        .team-member-img {
            width: 52.5%;
            padding-right: 20rem;

            img {
                width: 100%;
                height: 75rem;
                object-fit: cover;
                object-position: center;
            }
        }

        &:nth-child(odd) {
            flex-direction: row-reverse;
            
        }

        &:nth-child(even) {
            .team-member-img {
                padding-right: 0;
                justify-content: end;
                display: flex;
            }

            .team-member-detail {
                padding-right: 16rem;
            }
        }
    }
}