.techstack {
    padding-top: 12rem;

    .wpb_image_grid_ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        height: auto !important;
        margin: 0 -2.5rem !important;

        li {
            width: calc(20% - 5rem) !important;
            display: flex;
            justify-content: center;
            align-items: center;
            position: static !important;
            float: none !important;
            border: 1px solid $interface-light-grey;
            height: 120px;
            margin: 0 2.5rem 5rem 2.5rem !important;
            padding: 10px !important;

            &:hover {
                border-color: $interface-darkblue;
            }
        }
    }
}

@include media-down(tablet) {
    .techstack {
        padding-top: 4rem;

        .wpb_image_grid_ul {
            li {
                width: calc(25% - 3rem) !important;
                margin: 0 1.5rem 3rem 1.5rem !important;
            }
        }
    }
}

@include media-down(mobile) {
    .techstack {
        h5 {
            margin-bottom: 1.5rem;
        }

        .wpb_image_grid_ul {
            margin: 0 -0.75rem !important;

            li {
                width: calc(50% - 1.5rem) !important;
                margin: 0 0.75rem 1.5rem 0.75rem !important;
            }
        }
    }
}