.wayoflife-section {
    @include media-down(mobile) {
        padding-top: 3.5rem;
    }
    .wayof-life-inner-section {

        .small-title {
            color: $interface-white;
        }   

        .custom-heading {
            h3 {
                color: $interface-white;
                max-width: 94rem;

                @include media-down(desktop-large) {
                    max-width: 82rem;
                }

                @include media-down(desktop) {
                    max-width: 54rem;
                }
            }            
        }
        .explore-text {
            padding-top: 8rem;
            margin-left: 10rem;

            @include media-down(desktop-large) {
                padding-top: 6rem;
                margin-left: 8rem;
            }

            @include media-down(laptop) {
                padding-top: 4rem;
                margin-left: 6rem;
            }

            @include media-down(tablet-large) {
                padding-top: 2rem;
                margin-left: 5rem;
            }

            @include media-down(mobile) {
                padding-top: 3.6rem;
                margin-left: 0;
            }

            p {
                background-color: $interface-white;
                color: $interface-black;
                @extend %o-header--h3;
                font-weight: weight(bold);
                padding: 0.7rem 1.2rem;
                margin-top: 1.5rem;
                font-family: family(secondary);
                line-height: 5rem;
                display: inline-block;

                @include media-down(tablet-large) {
                    font-size: 2rem;
                    line-height: 3rem;
                    padding: 0.6rem 1.2rem;
                    margin-top: 1rem;
                }

                @include media-down(mobile) {
                    font-size: 1.8rem;
                    line-height: 2.8rem;
                    padding: 0.6rem 1.2rem;
                    margin-top: 1.5rem;
                }
            }
        }

        .o-button3 {
            margin-top: 3.6rem;
            margin-left: 10rem;
            display: inline-block;

            @include media-down(desktop-large) {
                margin-top: 2.6rem;
                margin-left: 8rem;
            }

            @include media-down(laptop) {
                margin-left: 6rem;
            }

            @include media-down(tablet-large) {
                margin-left: 5rem;
            }

            @include media-down(mobile) {
                margin-left: 0;
            }
        }
    }
}
    
.wayof-life-half-section {
    position: relative;

    &.casestudy-half-section > .vc_column-inner{
        padding: 7rem 5rem 7rem 5rem !important;
        background-position: right !important;
        
        @include media-down(desktop) {
            padding: 6rem 4rem 8.2rem 4rem !important;
        }

        @include media-down(tablet-large) {
            padding: 3.5rem 3rem 3.5rem 3rem !important;
        }  
        @include media-down(mobile) {
            background-position: top !important;
            padding: 20rem 2rem 3rem 2rem !important;
        }  
        &::before{
            @include media-down(mobile) {                
                height: 100%;
            }
        }
    }
    > .vc_column-inner {
        padding: 10rem 5rem 14rem 5rem !important;
        position: relative;
        background-position: center right !important;
        background-size: auto 100%;

        @include media-down(desktop-large) {
            padding: 8rem 5rem 12.2rem 5rem !important;
        }

        @include media-down(desktop) {
            padding: 7rem 5rem 10.2rem 5rem !important;
        }

        @include media-down(laptop) {
            padding: 7rem 4rem 10.2rem 4rem !important;
        }

        @include media-down(tablet-large) {
            padding: 5rem 3rem 7.2rem 3rem !important;
        }

        @include media-down(mobile) {
            background-size: contain !important;
            background-position: top !important;
            padding: 27rem 2rem 3rem 2rem !important;
        }

        &::before {
            content: "";
            background: linear-gradient(90deg, #101163 0%, #5D1B7B 59.61%, rgba(0, 0, 0, 0) 100%);
            width: 142.2rem;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;  
            display: block; 
            
            @include media-down(desktop-large) {
                width: 108.2rem;
            }

            @include media-down(laptop) {
                width: 94.2rem;
            }

            @include media-down(tablet-large) {
                width: 73rem;
            }

            @include media-down(tablet) {
                width: 50rem;
            }

            @include media-down(mobile) {
                background: linear-gradient(0deg, #101163 0%, #5D1B7B 59.61%, rgba(0, 0, 0, 0) 100%);
                width: 100%;
                height: 78.3rem;
            }
        }

        .wpb_wrapper {
            z-index: zindex(nav);
            position: relative;
        }
    }  

    .small-title {
        color: $interface-white;
    }   

    .custom-heading {
        h3 {
            color: $interface-white;
            max-width: 94rem;

            @include media-down(desktop-large) {
                max-width: 82rem;
            }

            @include media-down(desktop) {
                max-width: 54rem;
            }
        }            
    }

    .explore-text {
        padding-top: 10rem;
        margin-left: 10rem;

        @include media-down(desktop-large) {
            padding-top: 6rem;
            margin-left: 8rem;
        }

        @include media-down(laptop) {
            padding-top: 4rem;
            margin-left: 6rem;
        }

        @include media-down(tablet-large) {
            padding-top: 2rem;
            margin-left: 5rem;
        }

        @include media-down(mobile) {
            padding-top: 3.6rem;
            margin-left: 0;
        }

        p {
            background-color: $interface-white;
            color: $interface-black;
            @extend %o-header--h3;
            font-weight: weight(bold);
            padding: 0.7rem 1.2rem;
            margin-top: 1.5rem;
            font-family: family(secondary);
            line-height: 5rem;
            display: inline-block;

            @include media-down(tablet-large) {
                font-size: 2rem;
                line-height: 3rem;
                padding: 0.6rem 1.2rem;
                margin-top: 1rem;
            }

            @include media-down(mobile) {
                font-size: 1.8rem;
                line-height: 2.8rem;
                padding: 0.6rem 1.2rem;
                margin-top: 1.5rem;
            }
        }
    }

    .o-button3 {
        margin-top: 3.6rem;
        margin-left: 10rem;

        @include media-down(desktop-large) {
            margin-top: 2.6rem;
            margin-left: 8rem;
        }

        @include media-down(laptop) {
            margin-left: 6rem;
        }

        @include media-down(tablet-large) {
            margin-left: 5rem;
        }

        @include media-down(mobile) {
            margin-left: 0;
        }
    }    

}

.home {
    .wayof-life-half-section > .vc_column-inner {
        padding: 7rem 5rem 7rem 5rem !important;

        @include media-down(desktop) {
            padding: 6rem 4rem 6rem 4rem !important;
        }

        @include media-down(laptop) {
            padding: 5rem 3rem 5rem 3rem !important;
        }

        @include media-down(tablet-large) {
            padding: 4rem 2rem 4rem 2rem !important;
        }

        @include media-down(mobile) {
            padding: 18rem 2rem 3rem 2rem !important;
        }

        .custom-heading h3 {
            font-size: size(title, h3);
            line-height: lineheight(title, h3);
            max-width: 85rem;

            @include media-down(desktop-large) {
                font-size: size(title, h3-desktop);
                line-height: lineheight(title, h3-desktop);
                max-width: 65rem;
            }
            @include media-down(laptop-large) {
                font-size: size(title, h3-laptop);
                line-height: lineheight(title, h3-laptop);
            }
            @include media-down(tablet-large) {
                font-size: size(title, h3-tablet-large);
                line-height: lineheight(title, h3-tablet-large);
                max-width: 53rem;
            }
            @include media-down(tablet) {
                font-size: size(title, h3-tablet);
                line-height: lineheight(title, h3-tablet);
                max-width: 45rem;
            }
            @include media-down(mobile) {
                font-size: 1.8rem;
                line-height: 2.8rem;
            }
        }

        .explore-text {
            padding-top: 2.5rem;

            @include media-down(desktop) {
                margin-left: 5rem;
            }

            @include media-down(laptop) {
                margin-left: 4rem;
            }

            @include media-down(tablet-large) {
                margin-left: 3rem;
            }

            @include media-down(mobile) {
                margin-left: 2rem;
                padding-top: 1rem;
            }

            p {
                @extend %o-body-medium;
                padding: 0.5rem 1.2rem;
            }
        }

        .o-button3 {
            margin-top: 3rem;

            @include media-down(desktop) {
                margin-left: 5rem;
            }

            @include media-down(laptop) {
                margin-left: 4rem;
                margin-top: 2rem;
            }

            @include media-down(tablet-large) {
                margin-left: 3rem;
            }

            @include media-down(mobile) {
                margin-left: 2rem;
                margin-top: 1rem;
            }
        }
    }
    
}