.what-we-do-section {
  background-color: $interface-dark-black;
  padding: 20rem 0;

  .what-we-do-section-inner {
    .custom-heading h2 {
      color: $interface-white;
    }

    .o-body-medium {
      padding-top: 2rem;
      color: $interface-white;
      max-width: 75.5rem;
    }
  }

  .what-we-do-block {
    padding-top: 15rem;

    .what-we-do-img {
      width: 43.3%;

      img {
        border-radius: 4rem;
        height: 85rem;
        object-fit: cover;
      }
    }
    .what-we-do-text {
      width: 56.7%;
      margin-top: auto;
      margin-bottom: 9rem;

      .vc_column-inner {
        border: 1px solid $interface-light-black;
        border-left: 0;
        border-radius: 0 4rem 4rem 0;
        padding: 7rem 6.4rem 9.8rem 9rem !important;
      }

      .o-header--h4 {
        color: $interface-white;
        font-weight: weight(extrabold);
      }

      .o-body-medium {
        color: $interface-white;
        padding-top: 2rem;
      }
    }

    &:nth-child(odd) {
      display: flex;

      .what-we-do-img {
        display: flex;
        order: 2;
      }

      .what-we-do-text .vc_column-inner {
        border-right: 0;
        border-radius: 4rem 0 0 4rem;
        padding: 7rem 9rem 9.8rem 6.4rem !important;
        border-left: 1px solid $interface-light-black;
      }
    }
  }
}

.what-rysun-do-section {
  
  .o-header--h4-spark {
    max-width: 136rem;

    @include media-down(desktop-large) {
      max-width: 125rem;
    }

  }
  .small-title {
      color: $interface-black;
  }
}


.whatwe-do-section {
  position: relative;
  &:before{
    content: "";
    opacity: 0.07;
    background: linear-gradient(360deg, #FFFFFF 9.42%, #702E8E 55.65%, #2D2F8F 100%);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1756px;
    display: block;
  }
  .custom-heading h3 {
    max-width: 80rem;
  }
}