.whorysun-section{
  position: relative;
  &.vc_row:before{
    content: "";
    display: block;
    background: linear-gradient(315.86deg, #23A7E0 26.35%, #2D2F8F 39.84%, #702E8E 51.51%, #E62E2E 64.74%, #E98824 76.38%, #FFCC06 85.54%);
    opacity: 0.5;
    filter: blur(155px);
    transform: rotate(-60.47deg);
    width: 388px;
    height: 390px;
    position: absolute;
    right: -225px;
    top: 11px;
    display: block;
  }
  .small-title{
    padding-bottom: 5rem;
    color: $interface-black;
    @include media-down(desktop-large) {
      padding-bottom: 3rem;
    }
    @include media-down(laptop) {
      padding-bottom: 1.5rem;
    }    
  }
  .whospark-block{
    .vc_col-sm-4{
      width: 38.5%;
      padding-right: 3rem;
      @include media-down(mobile) {
        width: 100%;
        padding-bottom: 2rem;
        padding-right: 0;
      }
    }
    .vc_col-sm-8{
      width: 61.5%;
      @include media-down(mobile) {
        width: 100%;
      }
    }
    .o-header--h4{
      font-family: 'ObjectSansBold';
      font-weight: weight(regular);
      padding-bottom: 4rem;
      padding-top: 7rem;
      color: $interface-black;

      @include media-down(desktop) {
        padding-bottom: 3rem;
        padding-top: 5rem;
      }
      @include media-down(laptop) {
        padding-bottom: 2rem;
        padding-top: 3rem;
      }
      @include media-down(tablet) {
        padding-top: 2rem;
      }
      @include media-down(mobile) {
        padding-top: 1rem;
        padding-bottom: 1.5rem;
      }

      &.strength-title {
        padding-top: 12rem;

        @include media-down(tablet) {
          padding-top: 3rem;
        }

        @include media-down(mobile) {
          padding-top: 4rem;
        }
      }
    }
  }
}

.list-viw{
  li{
    @extend %o-paragraph-large;
    font-family: 'ObjectSansBold';
    font-weight: weight(regular);
    background: url(../images/list-con.png) no-repeat left 7px;
    color: $interface-light-black;
    padding-left: 5rem;
    margin-bottom: 3rem;
    @include media-down(desktop) {
      margin-bottom: 2rem;
      background-position: left 4px;
    }
    @include media-down(laptop) {
      margin-bottom: 1.5rem;
    }
    @include media-down(tablet-large) {
      background-position: left 2px;
    }
    @include media-down(tablet) {
      background-position: left 4px;
      background-size: 20px auto;
      padding-left: 3.2rem;
    }
    @include media-down(mobile) {
      margin-bottom: 1rem;
    }
  }
}

.who-rysun-section {
  padding-top: 15rem;

  @include media-down(desktop-large) {
    padding-top: 12rem;
  }

  @include media-down(desktop) {
    padding-top: 10rem;
  }

  @include media-down(laptop-large) {
    padding-top: 8rem;
  }

  @include media-down(tablet-large) {
    padding-top: 7rem;
  }

  @include media-down(tablet) {
    padding-top: 5rem;
  }

  @include media-down(mobile) {
    padding-top: 4rem;
  }

  &.box-outer-section{
    .container:after{
      right: -6rem;
      bottom: -12rem;
      @include media-down(desktop-large) {
        width: 20rem;
        right: -7rem;
        bottom: -10rem;
      }
      @include media-down(laptop-large) {
        width: 17rem;
        right: -4rem;
        bottom: -8rem;
      }
      @include media-down(tablet-large) {
        width: 13rem;
        right: -3rem;
        bottom: -6rem;
      }
      @include media-down(tablet) {
        width: 10rem;
        right: 0;
        bottom: -4rem;
      }
      @include media-down(mobile) {

      }
    }
  }
  &.pt-200{
    padding-top: 15rem;
    margin-top: 0 !important;

    @include media-down(desktop-large) {
      padding-top: 10rem;
    }

    @include media-down(desktop) {
      padding-top: 8rem;
    }

    @include media-down(laptop-large) {
      padding-top: 6rem;
    }

    @include media-down(tablet-large) {
      padding-top: 5rem;
    }

    @include media-down(tablet) {
      padding-top: 4rem;
    }
  }
  .video-section {
    display: flex;

    .home-banner-description {
      display: flex;
      align-items: center;
      
      @include media-down(mobile) {
        flex-wrap: wrap;
      }

      .o-header--h1 {
        color: $interface-black;
        @extend %o-header--h2;
        max-width: 80.1rem;
        font-weight: weight(bold);
        font-family: family(secondary);
        width: 38%;

        @include media-down(laptop-large) {
          font-size: 4rem;
          line-height: 5.5rem;
        }
        @include media-down(laptop) {
          width: 45%;
        }
        @include media-down(tablet-large) {
          font-size: 3rem;
          line-height: 4rem;
          width: 50%;
        }

        @include media-down(tablet) {
          font-size: 2.4rem;
          line-height: 3.4rem;
          width: 45%;
        }
        @include media-down(mobile) {
          width: 100%;
        }

        strong {
          --bg-size: 400;
          display: block;
          background: linear-gradient( to right, #23A7E0, #2D2F8F, #702E8E, #E62E2E, #E98824, #23A7E0, #2D2F8F, #702E8E, #E62E2E, #E98824 );
          background-position: 0% 0%;
          background-size: calc(var(--bg-size) * 1%) 100%;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          -webkit-animation: move-bg 10s linear infinite;
          animation: move-bg 10s linear infinite;
        }
        
        @-webkit-keyframes move-bg {
          to {
              -webkit-background-position: calc(var(--bg-size) * 1%) 0;
              background-position: calc(var(--bg-size) * 1%) 0;
          }
        }
        
        @keyframes move-bg {
          to {
              -webkit-background-position: calc(var(--bg-size) * 1%) 0;
              background-position: calc(var(--bg-size) * 1%) 0;
          }
        
        }
      }
    }

    .popup-youtube {
      padding-right: 0;
      padding-left: 15rem;
      position: relative;
      width: 62%;

      @include media-down(laptop) {
        padding-left: 6rem;
        width: 55%;
      }

      @include media-down(tablet-large) {
        padding-left: 5rem;
        width: 50%;
      }

      @include media-down(tablet) {
        padding-left: 3rem;
        width: 55%;
      }

      @include media-down(mobile) {
        padding-left: 0;
        margin-top: 3rem;
        width: 100%;
      }
      .youtube-hover{
        position: relative;
      }
      .youtube-icon{
        background-image: url(../images/video-icon.webp);
        background-repeat: no-repeat;
        position: absolute;
        width: 6.5rem;
        height: 6.6rem;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s linear;
      }

      img, video {
        width: 100%;
        height: 48rem;
        object-fit: cover;
        object-position: center;

        @include media-down(desktop-large) {
          height: 38rem;
        }
        @include media-down(desktop) {
          height: 34rem;
        }
        @include media-down(laptop-large) {
          height: 32rem;
        }
        @include media-down(laptop) {
          height: 31rem;
        }
        @include media-down(tablet-large) {
          height: 26rem;
        }
        @include media-down(tablet) {
          height: 20rem;
        }

        @include media-down(tablet) {
          height: 22rem;
          width: 100%;
        }
      }
      .youtube-hover:hover .youtube-icon{
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

