@import 'abstracts/layout';
@import 'abstracts/index';

// Settings:

@import 'base/colors';
@import 'base/fonts';
@import 'base/icons';
@import 'base/button';
@import 'base/type';
@import 'base/form';

@import 'base/animation';
@import 'base/slider';

// components:

@import 'components/header';
@import 'components/footer';
@import 'components/home-slider';
@import 'components/about-company';
@import 'components/vision';
@import 'components/insight';
@import 'components/home-service';
@import 'components/home-stories';
@import 'components/leadership';
@import 'components/contact';
@import 'components/about';
@import 'components/innovation';
@import 'components/key-facts';
@import 'components/partner-logo';
@import 'components/about-service';
@import 'components/who-spark';
@import 'components/why-spark';
@import 'components/timeline';
@import 'components/home-value';
@import 'components/home-industries';
@import 'components/insight-card';
@import 'components/blog-detail';
@import 'components/breadcrumb';
@import 'components/filter-block';
@import 'components/what-we-do';
@import 'components/join-team';
@import 'components/industries';
@import 'components/service';
@import 'components/search';
@import 'components/wayoflife';
@import 'components/certification';
@import 'components/newname';
@import 'components/privacy-policy';
@import 'components/inner-banner';
@import 'components/page-not-found';
@import 'components/grid-img';
@import 'components/industry-detail';
@import 'components/career';
@import 'components/casestudy';
@import 'components/slider-timer';
@import 'components/coming-soon';
@import 'components/cookies';
@import 'components/blog';
@import 'components/card';
@import 'components/event';
@import 'components/products';
@import 'components/tech-stack';
@import 'components/landing';
@import 'components/bottom-static-pages';
@import 'components/solution';
@import 'components/glossary';
@import 'components/google-ads-lp';
@import 'components/faq';